<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/logfile.txt" maxArchiveFiles="10"  archiveAboveSize="10485760" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}${exception:format=toString,Data}" />
    <target name="Tracefile" xsi:type="File" fileName="${basedir}/Traces/${shortdate}/logfile.txt" maxArchiveFiles="10"  archiveAboveSize="10485760" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}${exception:format=toString,Data}" />
    <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}${exception:format=toString,Data}" />
    <target xsi:type="Network"
        name="logstash_apiinsight"
        keepConnection="false"
        layout="${longdate}|${level:uppercase=true}|${message}|${exception}" address ="tcp://192.168.68.35:5044">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="Tracefile" />
    <logger name="*" minlevel="Info" writeTo="logstash_apiinsight"/>
  </rules>
</nlog>